{erl_opts, [debug_info]}.
{deps, [
    {epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "4.6.0"}}},
    {cowboy, "2.9.0"},
    {jsx, "3.1.0"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [sifox_ex, epgsql, cowboy, jsx]}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.8.13"}
        ]}
    ]},
    {sifox_ex, [
        {relx, [
            {release, {sifox_ex, "0.1"}, [sifox_ex, epgsql, cowboy, jsx]}
        ]},
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},
        {extended_start_script, true}
    ]}
]}.

{relx, [
    {
        release,
        {sifox_ex, "0.1"},
        [sifox_ex, epgsql, cowboy, jsx],
        [
            {dev_mode, false},
            {include_erts, true},
            {include_src, false},
            {sys_config, "config/sys.config"},
            {vm_args, "config/vm.args"},
            {extended_start_script, true}
        ]
    }
]}.

{dist_node, [
    {setcookie, 'security'},
    {name, 'sifox_ex@nix'}
]}.

{ct_opts, [
    {ct_hooks, [sifox_cth]}
]}.